<form method="post" action="{{ path('app_proveedores_delete', {'id': proveedore.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedore.id) }}">
    <button class="btn">Delete</button>
</form>
